---
layout: splash
permalink: /
header:
overlay_color: "#000"
overlay_filter: "0.5"
overlay_image: /assets/images/wallpaperbetter.jpg
actions:
- label: "Red Social 1"
url: "#"
- label: "Red Social 2"
url: "#"
---

<!DOCTYPE html>
<html lang="es">

<head>
  <title>Leonardo Espindola</title>
  <link rel="stylesheet" href="assets/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
  <div class="container">
    <div class="content">
      <div class="avatar">
        <img src="{{ '/assets/images/leo0.png' | relative_url }}" alt="Leo" width="150" height="150">
      </div>
      <h1>LEONARDO ESPINDOLA</h1>
      <p>PO for Quality | Quality Enginner | Coahing</p>
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/leonardoespindola/" class="social-icon"
          aria-label="LinkedIn de Leonardo Espíndola"><i class="fab fa-linkedin fa-xs"></i></a>
        <a href="https://www.youtube.com/@leonardo-espindola" class="social-icon"
          aria-label="Youtube de Leonardo Espíndola"><i class="fab fa-youtube fa-xs"></i></a>
        <a href="https://github.com/leonardoespindola" class="social-icon" aria-label="Github de Leonardo Espíndola"><i
            class="fab fa-github fa-xs"></i></a>
      </div>
      <br>
      <br>
      <a href="https://leonardo-espindola.ar/blog" class="btn">ENTRAR AL SITIO</a>
    </div>
  </div>
</body>

</html>